In [4]:
#Use a python code to display the following star pattern using the for loop

rows = 5
for i in range(1, rows + 1):
    print('* ' * i)
for i in range(rows - 1, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
#Use looping to output the elements from a provided list present at odd indexes. my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(my_list), 2):
    print(my_list[i])

20
40
60
80
100

In [6]:
#Write a code that appends the type of elements from a given list. Input x = [23, ‘Python’, 23.98] Expected output [23, 'Python', 23.98] [<class 'int'>, <class 'str'>, <class 'float'>]

x = [23, 'Python', 23.98]
types_list = []

for element in x:
    types_list.append(type(element))

print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
#Write a function that takes a list and returns a new list with unique items of the first list. Sample List: [1,2,3,3,3,3,4,5] Unique List: [1, 2, 3, 4, 5]

def unique_list(lst):
    unique_set = set()
    unique_list = []
    for element in lst:
        if element not in unique_set:
            unique_set.add(element)
            unique_list.append(element)
    return unique_list

sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_list = unique_list(sample_list)
print(unique_list)

[1, 2, 3, 4, 5]

In [8]:
#Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters. Input String: 'The quick Brow Fox' Expected Output: No. of Upper-case characters: 3 No. of Lower-case Characters: 12

def count_case(s):
    upper_count = 0
    lower_count = 0
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    print(f"No. of Upper-case characters: {upper_count}")
    print(f"No. of Lower-case Characters: {lower_count}")

input_string = 'The quick Brow Fox'
count_case(input_string)

No. of Upper-case characters: 3
No. of Lower-case Characters: 12